@import url('https://fonts.googleapis.com/css2?family=Jaldi:wght@400;700&display=swap');

* {
    font-family: 'Jaldi';
}

.backlink {
    text-decoration: none;
}

.backlink:hover {
    text-decoration: underline;
    transition: text-decoration 1s;
}

.sticky-footer {

    left: 0;
    bottom: 0;
    width: 100%;



}

#custom-button {
    padding: 10px;
    color: white;
    background-color: #009578;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
}

#custom-button:hover {
    background-color: #00b28f;
}

#custom-text {
    margin-left: 10px;
    font-family: sans-serif;
    color: #aaa;
    font-size: 21px;
}


.footer {
    padding-bottom: 30px;
    background-image: linear-gradient(rgb(255, 255, 255), rgba(74, 221, 85, 1));
}

.add-shadow {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px;
}

#logo {
    width: 164px;
    height: 58px;
}


#logo-footer {
    width: 272px;
    height: 104px;
}

.footer-content {
    padding-top: 70px;
}


.navbar-nav a {

    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 46px;
    position: relative;
    text-decoration: none;

}

.hid {
    visibility: collapse;
    display: none;
}

.vector {
    margin-left: 30px;
    margin-right: 20px;
    width: 60px;
    height: 60px;
}

.button-text {

    font-style: normal;
    font-weight: 400;
    font-size: 2em;
}




.card-title {
    font-weight: 700;
}



.navbar-nav a::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    top: 100%;
    left: 0;
    background: #6bf066;
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: left;
}

.navbar-nav a:hover::after {
    transform: scaleX(1);
}

.box-green {
    background-image: url("/static/core/img/headbg.png");
    margin-top: 85px;

}


.intro {
    height: 660px;
}

.about {
    height: 600px;
    padding-top: 130px;
}

.c-title {
    font-weight: 700;
    font-size: 1.5em;
}

.c-body {
    font-size: 1.2em;
}

.card-body {

    padding: 24px !important;
}

.feature h1 {

    font-weight: 700;
    font-size: 2.4em;
}

.about h1 {

    font-style: normal;
    font-weight: 700;
    font-size: 2.4em;
    line-height: 66px;
}

.about p {
    font-style: normal;
    font-weight: 100;
    font-size: 2.3em;
    line-height: 61px;
    padding-top: 10px;
}

.boxer {


    margin-top: 100px;
}

.boxer img {
    margin-top: 100px;
    width: 109px;
    height: 105px;
}

.boxer p {
    padding-top: 86px;
    padding-right: 0.5em;


    font-style: normal;
    font-weight: 700;
    font-size: 4em;
    line-height: 117px;
    text-align: end;
}

.drop-container {
    margin-top: 7em;
}

.about-field {
    margin-top: 10em;
}



.aricles-field {
    margin-top: 6em;
    margin-bottom: 5em;
}

.text-about h1 {
    font-size: 34px;
    font-weight: 700;
}

.text-about p {
    font-size: 28px;
}

.personal-data h1 {
    font-style: normal;
    font-weight: 700;
    font-family: 'Jaldi';

}

.tools {
    margin-top: 4em;
    height: 100;
    margin-bottom: 7em;

}

#profile-line {
    margin-top: 2em;
}

.profile-data {
    margin-top: 7em;
}

.profile-img {
    padding: 10px;
    width: 120px;
    height: 120px;
    border: solid;
}

.card2 {
    border-radius: 36px !important;
    -webkit-box-shadow: 0px 5px 15px 15px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 15px 15px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 15px 15px rgba(34, 60, 80, 0.2);
}

.card2:hover {
    -webkit-box-shadow: 0px 5px 13px 28px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 13px 28px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 13px 28px rgba(34, 60, 80, 0.2);
    transition: box-shadow 0.5s ease;

}

.card-date {
    font-style: italic;
    font-size: 20px;
}

.drop-zone {

    height: 300px;
    padding: 25px;
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: 30px;
    cursor: pointer;
    color: #cccccc;
    border: 4px dashed #009578;
    border-radius: 10px;

}



.article .card-title {
    font-size: 34px;
    font-weight: 700;
}

.article .card-text {
    font-size: 21px;
}

.drop-zone.active {
    border: 4px solid #009578;
}


.prompt {
    margin-top: 64px;
}

.drop-zone-prompt {
    padding-left: 5px;

}

.drop-zone-upload {
    margin-top: 5px;
    padding: 10px 50px;
    font-size: 25px;
    font-weight: 500px;
    border: none;
    outline: none;
}

.menu {
    position: sticky;
}

.content {
    height: 2000px;
}

.correlation-options {
    padding-top: 10px;
    padding-left: 1em;
}

.correlation-options label {
    font-size: 1.4em;
    padding-left: 10px;
}

.correlation-options h1 {
    font-weight: 700;
    font-size: 2rem;
    padding-top: 10px;

}

.form-check-input {
    height: 1.5em;
    width: 2.8em !important;
}

.form-check-input:checked {
    background-color: #198754;
    border-color: #198754;
}

main {
    padding-bottom: 50px;

}

@media (max-width: 984px) {

    .img-fluid {
        visibility: collapse;
        display: none;
    }

    .drop-container {
        margin-top: 7em;
        --bs-gutter-x: 3.5rem !important;
    }

    .about {

        padding-top: 60px;
    }

    .about h1 {


        font-size: 2em;
        line-height: 31px;
    }

    .about p {

        font-size: 1.5em;
        line-height: 31px;

    }

    .vector {
        visibility: collapse;
        height: 1px;
    }

    .hid {
        visibility: visible;
        display: block;
        width: 50%;
    }

    .boxer img {
        margin-top: 20px;

    }

    .boxer p {
        font-size: 3em;


        line-height: 88px;
        padding-top: 10px;
        text-align: center;



    }

    .intro {
        height: 500px;
    }

    .boxer {


        margin-top: 10px;
    }

}

@media (max-width: 1035px) {

    .navbar-nav a {

        font-weight: 400;
        font-size: 18px;


    }
}