{% extends "base.html" %}

{% load static %}
{% block content %}

<main>

  <div class="container drop-container" id="app">
    <form enctype="multipart/form-data" method="POST" id="upload-form">
      {% csrf_token %}
      <div class="row">

        <div id='drop-zone' class="drop-zone col-md-6">


          <div class="dropzone">Drag and drop your file here or click upload</div>
          <!-- <input class="form-control" type="file" id="formFile" id="excel-file" name="excel_file"> -->

          <br>
          <input type="file" id="real-file" name="excel_file" hidden="hidden" />
          <button type="button" id="custom-button">UPLOAD</button>
          <span id="custom-text">No file chosen, yet.</span>

          <br>

        </div>

        <div class="col-md-6">
          {% if request.user.is_authenticated %}
          <label class="form-label" style="font-size: 2rem; font-weight: 700;">Report name</label>
          <input class="form-control form-control-lg" type="text" placeholder="Report name..." name="title">
          {% endif %}
          <div class="correlation-options">
            <h1>Choose a type of correlation</h1>
            <hr>
            <div class="form-check form-switch">
              <input class="form-check-input btn-outline-success" type="checkbox" id="flexSwitchCheckDefault"
                name="pearson">
              <label class="form-check-label" for="flexSwitchCheckDefault">Pearson’s r</label>
            </div>
            <div class="form-check form-switch">
              <input class="form-check-input btn-outline-success" type="checkbox" id="flexSwitchCheckDefault"
                name="spearman">
              <label class="form-check-label" for="flexSwitchCheckDefault">Spearman’s rho</label>
            </div>
            <div class="form-check form-switch">
              <input class="form-check-input btn-outline-success" type="checkbox" id="flexSwitchCheckDefault"
                name="kendall">
              <label class="form-check-label" for="flexSwitchCheckDefault">Kendall’s tau</label>
            </div>
          </div>
          <div class="correlation-options">
            <h1>Choose a correlation output</h1>
            <hr>
            <div class="form-check form-switch">
              <input class="form-check-input btn-outline-success" type="checkbox" id="flexSwitchCheckDefault"
                name="high">
              <label class="form-check-label" for="flexSwitchCheckDefault">High correlations (&plusmn; 0.5 - 1)</label>
            </div>
            <div class="form-check form-switch">
              <input class="form-check-input btn-outline-success" type="checkbox" id="flexSwitchCheckDefault"
                name="low">
              <label class="form-check-label" for="flexSwitchCheckDefault">Low correlations (&plusmn; 0 - 0.5)</label>
            </div>
          </div>
        </div>

        <button type="submit" class="btn btn-success btn-lg mt-4 fs-3">Corrilate</button>



      </div>
    </form>
    <hr class="mt-5">
  </div>



  <div class="container instruction mb-4">
    <div class="row">
      <h1 class="text-center mb-5">How to use it ?</h1>
      <ul class="list-group list-group-flush fs-3">
        <li class="list-group-item">1. Drop a file with valid extension (xls, xlsx, xlsm, xlsb, odf, ods and odt) in
          dotted area above or click to upload. </li>
        <li class="list-group-item">2. Choose correlation options: type of correlation (Pearson’s, Spearman’s
          rho,Kendall’s tau) and wich correlation ranges you want to get (high correlations, Low correlations or both).
        </li>
        <li class="list-group-item">3. After setting the options click on "Corrilate" button.</li>
        <li class="list-group-item">4. Get you correlation report.</li>
        <li class="list-group-item">5. Enjoy &#127881; &#127881; &#127881;</li>
      </ul>
    </div>
  </div>


</main>

{% endblock content %}