{% extends "base.html" %}

{% load static %}
{% block content %}

<main>
    <div class="about-field">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center">Correlation Report</h1>
                    <hr>
                </div>

                <div class="col-md-12">
                    <h2>Report details:</h2>
                    <ul>

                        <li>Correlaton type : {{correlaton_type}} </li>

                    </ul>
                </div>

                <div class="col-md-12">
                    <h2>Results</h2>
                    <hr>
                </div>

                <div class="col-md-12">
                    <h3>High correlations</h3>

                    {{high_correlaton_result | safe}}
                    <hr>

                </div>
                <div class="col-md-12">
                    <h3>Low correlations</h3>

                    {{low_correlaton_result | safe}}

                </div>



            </div>
        </div>
    </div>

</main>
<script>
    var tables = document.getElementsByTagName("table");
    var th = document.getElementsByTagName("th");
    var td = document.getElementsByTagName("td");

    // Add the class "myClass" to each <table> element
    for (var i = 0; i < tables.length; i++) {
        tables[i].classList.add("table");
        tables[i].classList.add("table-bordered");
    }

    for (var i = 0; i < th.length; i++) {
        th[i].classList.add("text-center");
    }

    for (var i = 0; i < td.length; i++) {
        td[i].classList.add("text-center");
    }
</script>

{% endblock content %}