{% extends "base.html" %}

{% load static %}
{% block content %}

<main>
    <div class="about-field">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center fw-bold">Correlation Report</h1>
                    <hr>
                </div>

                <div class="col-md-12">
                    <h2>Report details:</h2>
                    <ul class="fs-4">
                        {% if request.user.is_authenticated %}
                        <li><span class="fw-bold">Report name </span>: {{report.title}} </li>
                        <li><span class="fw-bold">Report author </span>: {{report.author}} </li>
                        {% endif %}
                        <li><span class="fw-bold">Correlation type </span>: {{report.correlaton_type}} </li>

                    </ul>
                </div>

                <div class="col-md-12 text-center">
                    <h2 class="fw-bold">Results</h2>
                    <hr>
                </div>

                <div class="col-md-12">
                    <h3>High correlations</h3>

                    {{report.high_correlaton_result | safe}}
                    <hr>

                </div>
                <div class="col-md-12">
                    <h3>Low correlations</h3>

                    {{report.low_correlaton_result | safe}}

                </div>

                <div class="col-md-12 mt-4">
                    <a type="button" class="btn btn-dark" href="{% url 'report-delete' report.pk %}">Delete</a>
                </div>

            </div>
        </div>
    </div>

</main>
<script>
    var tables = document.getElementsByTagName("table");
    var th = document.getElementsByTagName("th");
    var td = document.getElementsByTagName("td");

    // Add the class "myClass" to each <table> element
    for (var i = 0; i < tables.length; i++) {
        tables[i].classList.add("table");
        tables[i].classList.add("table-bordered");
    }

    for (var i = 0; i < th.length; i++) {
        th[i].classList.add("text-center");
    }

    for (var i = 0; i < td.length; i++) {
        td[i].classList.add("text-center");
    }
</script>

{% endblock content %}